# **Labs 1 and 2 PySpark:**

In these labs we will be using the "[[NeurIPS 2020] Data Science for COVID-19 (DS4C)](https://www.kaggle.com/datasets/kimjihoo/coronavirusdataset?select=PatientInfo.csv)" dataset, retrieved from [Kaggle](https://www.kaggle.com/) on 1/6/2022, for educational non commercial purpose, License
[CC BY-NC-SA 4.0
](https://creativecommons.org/licenses/by-nc-sa/4.0/)


The csv file that we will be using in this lab is **PatientInfo**.

## PatientInfo.csv

**patient_id**
the ID of the patient

**sex**
the sex of the patient

**age**
the age of the patient

**country**
the country of the patient

**province**
the province of the patient

**city**
the city of the patient

**infection_case**
the case of infection

**infected_by**
the ID of who infected the patient


**contact_number**
the number of contacts with people

**symptom_onset_date**
the date of symptom onset

**confirmed_date**
the date of being confirmed

**released_date**
the date of being released

**deceased_date**
the date of being deceased

**state**
isolated / released / deceased

### Import the pyspark and check it's version

In [1]:
import pyspark
spark.version

'3.5.0'

### Import and create SparkSession

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

### Load the PatientInfo.csv file and show the first 5 rows

In [3]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [4]:
df = spark.read.csv('PatientInfo.csv',inferSchema=True,header=True)
df.show(5,truncate=False)

+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|sex   |age|country|province|city       |infection_case      |infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state   |
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|male  |50s|Korea  |Seoul   |Gangseo-gu |overseas inflow     |NULL       |75            |2020-01-22        |2020-01-23    |2020-02-05   |NULL         |released|
|1000000002|male  |30s|Korea  |Seoul   |Jungnang-gu|overseas inflow     |NULL       |31            |NULL              |2020-01-30    |2020-03-02   |NULL         |released|
|1000000003|male  |50s|Korea  |Seoul   |Jongno-gu  |contact with patient|2002000001 |17            |NULL              |2020-01-30    |2020-02-19   |NULL         |released|
|1000000004|male  |20s|Korea  |Seoul   |Mapo-gu    |overseas inflow     |NULL       |9             |2020-01-26        |2020-01-30    |2020-02-15   |NULL         |released|
|1000000005|female|20s|Korea  |Seoul   |Seongbuk-gu|contact with patient|1000000002 |2             |NULL              |2020-01-31    |2020-02-24   |NULL         |released|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 5 rows

In [5]:
df.cache()

DataFrame[patient_id: bigint, sex: string, age: string, country: string, province: string, city: string, infection_case: string, infected_by: string, contact_number: string, symptom_onset_date: string, confirmed_date: date, released_date: date, deceased_date: date, state: string]

### Display the schema of the dataset

In [6]:
df.printSchema()

root
 |-- patient_id: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- country: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- infected_by: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- symptom_onset_date: string (nullable = true)
 |-- confirmed_date: date (nullable = true)
 |-- released_date: date (nullable = true)
 |-- deceased_date: date (nullable = true)
 |-- state: string (nullable = true)

### Display the statistical summary

In [7]:
# It's not an optimal scenario as it will be so hard for spark core engine to calculate all of these operations
df_sumary = df.describe()
df_sumary.show(truncate=False)

23/10/05 14:53:19 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+--------------------+------+----+----------+--------+--------------+--------------------------+--------------------+--------------------+------------------+--------+
|summary|patient_id          |sex   |age |country   |province|city          |infection_case            |infected_by         |contact_number      |symptom_onset_date|state   |
+-------+--------------------+------+----+----------+--------+--------------+--------------------------+--------------------+--------------------+------------------+--------+
|count  |5165                |4043  |3785|5165      |5165    |5071          |4246                      |1346                |791                 |690               |5165    |
|mean   |2.8636345618679576E9|NULL  |NULL|NULL      |NULL    |NULL          |NULL                      |2.2845944015643125E9|1.6772572523506988E7|NULL              |NULL    |
|stddev |2.074210725277473E9 |NULL  |NULL|NULL      |NULL    |NULL          |NULL                      |1.5265072953383324E9|3.093097580985502E8 |NULL              |NULL    |
|min    |1000000001          |female|0s  |Bangladesh|Busan   |Andong-si     |Anyang Gunpo Pastors Group|1000000002          |-                   |                  |deceased|
|max    |7000000019          |male  |90s |Vietnam   |Ulsan   |sankyeock-dong|overseas inflow           |7000000009          |95                  |2020-06-28        |released|
+-------+--------------------+------+----+----------+--------+--------------+--------------------------+--------------------+--------------------+------------------+--------+

In [8]:
# Maybe it will be a fine solution as required
df_sumary = df.select('patient_id','sex','age','country').describe()
df_sumary.show(truncate=False)

+-------+--------------------+------+----+----------+
|summary|patient_id          |sex   |age |country   |
+-------+--------------------+------+----+----------+
|count  |5165                |4043  |3785|5165      |
|mean   |2.8636345618679576E9|NULL  |NULL|NULL      |
|stddev |2.074210725277473E9 |NULL  |NULL|NULL      |
|min    |1000000001          |female|0s  |Bangladesh|
|max    |7000000019          |male  |90s |Vietnam   |
+-------+--------------------+------+----+----------+

### Using the state column.
### How many people survived (released), and how many didn't survive (isolated/deceased)?

In [9]:
from pyspark.sql.functions import *
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [10]:
_srv = df.filter(col('state')=='released').count()
_dead = df.filter((col('state')=='isolated') | (col('state')=='deceased')).count()
data = {
    "survived": _srv,
    "dead": _dead
}
df_people_srv = spark.createDataFrame(list(data.items()), ["status", "count"])
df_people_srv.show()

23/10/05 14:53:26 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

+--------+-----+
|  status|count|
+--------+-----+
|survived| 2929|
|    dead| 2236|
+--------+-----+

In [11]:
# df_people_srv = df.groupBy('state').agg(F.count(col('patient_id')).alias('count'))
# df_people_srv.show(truncate=False)

### Display the number of null values in each column

In [12]:
"""
For each column, we use col(column).isNull().cast("int") to create a new column of integers where 1 represents 
a null value and 0 represents a non-null value. We then use sum to calculate the sum of these integers
"""
nulls = df.groupBy().agg(*[sum(col(column).isNull().cast("int")).alias(column) for column in df.columns])
nulls.show(truncate=False)

+----------+----+----+-------+--------+----+--------------+-----------+--------------+------------------+--------------+-------------+-------------+-----+
|patient_id|sex |age |country|province|city|infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state|
+----------+----+----+-------+--------+----+--------------+-----------+--------------+------------------+--------------+-------------+-------------+-----+
|0         |1122|1380|0      |0       |94  |919           |3819       |4374          |4475              |3             |3578         |5099         |0    |
+----------+----+----+-------+--------+----+--------------+-----------+--------------+------------------+--------------+-------------+-------------+-----+

## Data preprocessing

### Fill the nulls in the deceased_date with the released_date. 
- You can use <b>coalesce</b> function

In [13]:
df_without_na = df.withColumn("deceased_date", coalesce(col('deceased_date'),col('released_date')))
df_without_na.select('released_date','deceased_date').show(truncate=False)

+-------------+-------------+
|released_date|deceased_date|
+-------------+-------------+
|2020-02-05   |2020-02-05   |
|2020-03-02   |2020-03-02   |
|2020-02-19   |2020-02-19   |
|2020-02-15   |2020-02-15   |
|2020-02-24   |2020-02-24   |
|2020-02-19   |2020-02-19   |
|2020-02-10   |2020-02-10   |
|2020-02-24   |2020-02-24   |
|2020-02-21   |2020-02-21   |
|2020-02-29   |2020-02-29   |
|2020-02-29   |2020-02-29   |
|2020-02-27   |2020-02-27   |
|NULL         |NULL         |
|2020-03-12   |2020-03-12   |
|NULL         |NULL         |
|2020-03-11   |2020-03-11   |
|2020-03-01   |2020-03-01   |
|NULL         |NULL         |
|2020-03-08   |2020-03-08   |
|NULL         |NULL         |
+-------------+-------------+
only showing top 20 rows

### Add a column named no_days which is difference between the deceased_date and the confirmed_date then show the top 5 rows. Print the schema.
- <b> Hint: You need to typecast these columns as date first <b>

In [14]:
# The secret in this func (datediff) HAHAHHA
df_add_nodays = df_without_na.withColumn('no_days', datediff(col('deceased_date'), col('confirmed_date')))
df_add_nodays.printSchema()
df_add_nodays.show(5)

root
 |-- patient_id: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- country: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- infected_by: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- symptom_onset_date: string (nullable = true)
 |-- confirmed_date: date (nullable = true)
 |-- released_date: date (nullable = true)
 |-- deceased_date: date (nullable = true)
 |-- state: string (nullable = true)
 |-- no_days: integer (nullable = true)

+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
|patient_id|   sex|age|country|province|       city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|no_days|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
|1000000001|  male|50s|  Korea|   Seoul| Gangseo-gu|     overseas inflow|       NULL|            75|        2020-01-22|    2020-01-23|   2020-02-05|   2020-02-05|released|     13|
|1000000002|  male|30s|  Korea|   Seoul|Jungnang-gu|     overseas inflow|       NULL|            31|              NULL|    2020-01-30|   2020-03-02|   2020-03-02|released|     32|
|1000000003|  male|50s|  Korea|   Seoul|  Jongno-gu|contact with patient| 2002000001|            17|              NULL|    2020-01-30|   2020-02-19|   2020-02-19|released|     20|
|1000000004|  male|20s|  Korea|   Seoul|    Mapo-gu|     overseas inflow|       NULL|             9|        2020-01-26|    2020-01-30|   2020-02-15|   2020-02-15|released|     16|
|1000000005|female|20s|  Korea|   Seoul|Seongbuk-gu|contact with patient| 1000000002|             2|              NULL|    2020-01-31|   2020-02-24|   2020-02-24|released|     24|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
only showing top 5 rows

### Add a is_male column if male then it should yield true, else then False

In [15]:
df_no_sex_null = df_add_nodays.dropna(subset=['sex'])
df_no_sex_null.show()

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
|patient_id|   sex|age|country|province|        city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|no_days|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
|1000000001|  male|50s|  Korea|   Seoul|  Gangseo-gu|     overseas inflow|       NULL|            75|        2020-01-22|    2020-01-23|   2020-02-05|   2020-02-05|released|     13|
|1000000002|  male|30s|  Korea|   Seoul| Jungnang-gu|     overseas inflow|       NULL|            31|              NULL|    2020-01-30|   2020-03-02|   2020-03-02|released|     32|
|1000000003|  male|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 2002000001|            17|              NULL|    2020-01-30|   2020-02-19|   2020-02-19|released|     20|
|1000000004|  male|20s|  Korea|   Seoul|     Mapo-gu|     overseas inflow|       NULL|             9|        2020-01-26|    2020-01-30|   2020-02-15|   2020-02-15|released|     16|
|1000000005|female|20s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000002|             2|              NULL|    2020-01-31|   2020-02-24|   2020-02-24|released|     24|
|1000000006|female|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|            43|              NULL|    2020-01-31|   2020-02-19|   2020-02-19|released|     19|
|1000000007|  male|20s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|             0|              NULL|    2020-01-31|   2020-02-10|   2020-02-10|released|     10|
|1000000008|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       NULL|             0|              NULL|    2020-02-02|   2020-02-24|   2020-02-24|released|     22|
|1000000009|  male|30s|  Korea|   Seoul|   Songpa-gu|     overseas inflow|       NULL|            68|              NULL|    2020-02-05|   2020-02-21|   2020-02-21|released|     16|
|1000000010|female|60s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000003|             6|              NULL|    2020-02-05|   2020-02-29|   2020-02-29|released|     24|
|1000000011|female|50s|  China|   Seoul|Seodaemun-gu|     overseas inflow|       NULL|            23|              NULL|    2020-02-06|   2020-02-29|   2020-02-29|released|     23|
|1000000012|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       NULL|             0|              NULL|    2020-02-07|   2020-02-27|   2020-02-27|released|     20|
|1000000013|  male|80s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|           117|              NULL|    2020-02-16|         NULL|         NULL|deceased|   NULL|
|1000000014|female|60s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000013|            27|        2020-02-06|    2020-02-16|   2020-03-12|   2020-03-12|released|     25|
|1000000015|  male|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT|       NULL|             8|        2020-02-11|    2020-02-19|         NULL|         NULL|released|   NULL|
|1000000016|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|          NULL|              NULL|    2020-02-19|   2020-03-11|   2020-03-11|released|     21|
|1000000017|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|          NULL|              NULL|    2020-02-20|   2020-03-01|   2020-03-01|released|     10|
|1000000018|  male|20s|  Korea|   Seoul|         etc|                 etc|       NULL|          NULL|              NULL|    2020-02-20|         NULL|         NULL|released|   NULL|
|1000000019|female|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000021|          NULL|              NULL|    2020-02-20|   2020-03-08|   2020-03-08|released|     17|
|1000000020|female|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT| 1000000015|          NULL|              NULL|    2020-02-20|         NULL|         NULL|released|   NULL|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
only showing top 20 rows

In [16]:
df_add_is_male = df_no_sex_null.withColumn('is_male',col('sex') =='male')
df_add_is_male.show(20,truncate=False)

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+
|patient_id|sex   |age|country|province|city        |infection_case      |infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state   |no_days|is_male|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+
|1000000001|male  |50s|Korea  |Seoul   |Gangseo-gu  |overseas inflow     |NULL       |75            |2020-01-22        |2020-01-23    |2020-02-05   |2020-02-05   |released|13     |true   |
|1000000002|male  |30s|Korea  |Seoul   |Jungnang-gu |overseas inflow     |NULL       |31            |NULL              |2020-01-30    |2020-03-02   |2020-03-02   |released|32     |true   |
|1000000003|male  |50s|Korea  |Seoul   |Jongno-gu   |contact with patient|2002000001 |17            |NULL              |2020-01-30    |2020-02-19   |2020-02-19   |released|20     |true   |
|1000000004|male  |20s|Korea  |Seoul   |Mapo-gu     |overseas inflow     |NULL       |9             |2020-01-26        |2020-01-30    |2020-02-15   |2020-02-15   |released|16     |true   |
|1000000005|female|20s|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000002 |2             |NULL              |2020-01-31    |2020-02-24   |2020-02-24   |released|24     |false  |
|1000000006|female|50s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |43            |NULL              |2020-01-31    |2020-02-19   |2020-02-19   |released|19     |false  |
|1000000007|male  |20s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |0             |NULL              |2020-01-31    |2020-02-10   |2020-02-10   |released|10     |true   |
|1000000008|male  |20s|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-02    |2020-02-24   |2020-02-24   |released|22     |true   |
|1000000009|male  |30s|Korea  |Seoul   |Songpa-gu   |overseas inflow     |NULL       |68            |NULL              |2020-02-05    |2020-02-21   |2020-02-21   |released|16     |true   |
|1000000010|female|60s|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000003 |6             |NULL              |2020-02-05    |2020-02-29   |2020-02-29   |released|24     |false  |
|1000000011|female|50s|China  |Seoul   |Seodaemun-gu|overseas inflow     |NULL       |23            |NULL              |2020-02-06    |2020-02-29   |2020-02-29   |released|23     |false  |
|1000000012|male  |20s|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-07    |2020-02-27   |2020-02-27   |released|20     |true   |
|1000000013|male  |80s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |117           |NULL              |2020-02-16    |NULL         |NULL         |deceased|NULL   |true   |
|1000000014|female|60s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000013 |27            |2020-02-06        |2020-02-16    |2020-03-12   |2020-03-12   |released|25     |false  |
|1000000015|male  |70s|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |NULL       |8             |2020-02-11        |2020-02-19    |NULL         |NULL         |released|NULL   |true   |
|1000000016|male  |70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |NULL          |NULL              |2020-02-19    |2020-03-11   |2020-03-11   |released|21     |true   |
|1000000017|male  |70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |NULL          |NULL              |2020-02-20    |2020-03-01   |2020-03-01   |released|10     |true   |
|1000000018|male  |20s|Korea  |Seoul   |etc         |etc                 |NULL       |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |true   |
|1000000019|female|70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000021 |NULL          |NULL              |2020-02-20    |2020-03-08   |2020-03-08   |released|17     |false  |
|1000000020|female|70s|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |1000000015 |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |false  |
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+
only showing top 20 rows

In [17]:
# to fast operation
df_add_is_male.cache()

DataFrame[patient_id: bigint, sex: string, age: string, country: string, province: string, city: string, infection_case: string, infected_by: string, contact_number: string, symptom_onset_date: string, confirmed_date: date, released_date: date, deceased_date: date, state: string, no_days: int, is_male: boolean]

### Add a is_dead column if patient state is not released then it should yield true, else then False

- Use <b>UDF</b> to perform this task. 
- However, UDF is not recommended there is no built in function can do the required operation.
- UDF is slower than built in functions.

In [18]:
def isdeadUDF(txt):
    if txt != 'released':
        return True
    else:
        return False
    
udf_converted_func = udf(isdeadUDF,BooleanType())

In [19]:
df_add_is_dead = df_add_is_male.withColumn('is_dead' , udf_converted_func(col('state')))
df_add_is_dead.show(truncate=False)

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
|patient_id|sex   |age|country|province|city        |infection_case      |infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state   |no_days|is_male|is_dead|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
|1000000001|male  |50s|Korea  |Seoul   |Gangseo-gu  |overseas inflow     |NULL       |75            |2020-01-22        |2020-01-23    |2020-02-05   |2020-02-05   |released|13     |true   |false  |
|1000000002|male  |30s|Korea  |Seoul   |Jungnang-gu |overseas inflow     |NULL       |31            |NULL              |2020-01-30    |2020-03-02   |2020-03-02   |released|32     |true   |false  |
|1000000003|male  |50s|Korea  |Seoul   |Jongno-gu   |contact with patient|2002000001 |17            |NULL              |2020-01-30    |2020-02-19   |2020-02-19   |released|20     |true   |false  |
|1000000004|male  |20s|Korea  |Seoul   |Mapo-gu     |overseas inflow     |NULL       |9             |2020-01-26        |2020-01-30    |2020-02-15   |2020-02-15   |released|16     |true   |false  |
|1000000005|female|20s|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000002 |2             |NULL              |2020-01-31    |2020-02-24   |2020-02-24   |released|24     |false  |false  |
|1000000006|female|50s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |43            |NULL              |2020-01-31    |2020-02-19   |2020-02-19   |released|19     |false  |false  |
|1000000007|male  |20s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |0             |NULL              |2020-01-31    |2020-02-10   |2020-02-10   |released|10     |true   |false  |
|1000000008|male  |20s|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-02    |2020-02-24   |2020-02-24   |released|22     |true   |false  |
|1000000009|male  |30s|Korea  |Seoul   |Songpa-gu   |overseas inflow     |NULL       |68            |NULL              |2020-02-05    |2020-02-21   |2020-02-21   |released|16     |true   |false  |
|1000000010|female|60s|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000003 |6             |NULL              |2020-02-05    |2020-02-29   |2020-02-29   |released|24     |false  |false  |
|1000000011|female|50s|China  |Seoul   |Seodaemun-gu|overseas inflow     |NULL       |23            |NULL              |2020-02-06    |2020-02-29   |2020-02-29   |released|23     |false  |false  |
|1000000012|male  |20s|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-07    |2020-02-27   |2020-02-27   |released|20     |true   |false  |
|1000000013|male  |80s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |117           |NULL              |2020-02-16    |NULL         |NULL         |deceased|NULL   |true   |true   |
|1000000014|female|60s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000013 |27            |2020-02-06        |2020-02-16    |2020-03-12   |2020-03-12   |released|25     |false  |false  |
|1000000015|male  |70s|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |NULL       |8             |2020-02-11        |2020-02-19    |NULL         |NULL         |released|NULL   |true   |false  |
|1000000016|male  |70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |NULL          |NULL              |2020-02-19    |2020-03-11   |2020-03-11   |released|21     |true   |false  |
|1000000017|male  |70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |NULL          |NULL              |2020-02-20    |2020-03-01   |2020-03-01   |released|10     |true   |false  |
|1000000018|male  |20s|Korea  |Seoul   |etc         |etc                 |NULL       |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |true   |false  |
|1000000019|female|70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000021 |NULL          |NULL              |2020-02-20    |2020-03-08   |2020-03-08   |released|17     |false  |false  |
|1000000020|female|70s|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |1000000015 |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |false  |false  |
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
only showing top 20 rows

In [20]:
# This solution by using pyspark functions
df_add_is_dead = df_add_is_male.withColumn('is_dead',col('state')!='released')
df_add_is_dead.show(truncate=False)

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
|patient_id|sex   |age|country|province|city        |infection_case      |infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state   |no_days|is_male|is_dead|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
|1000000001|male  |50s|Korea  |Seoul   |Gangseo-gu  |overseas inflow     |NULL       |75            |2020-01-22        |2020-01-23    |2020-02-05   |2020-02-05   |released|13     |true   |false  |
|1000000002|male  |30s|Korea  |Seoul   |Jungnang-gu |overseas inflow     |NULL       |31            |NULL              |2020-01-30    |2020-03-02   |2020-03-02   |released|32     |true   |false  |
|1000000003|male  |50s|Korea  |Seoul   |Jongno-gu   |contact with patient|2002000001 |17            |NULL              |2020-01-30    |2020-02-19   |2020-02-19   |released|20     |true   |false  |
|1000000004|male  |20s|Korea  |Seoul   |Mapo-gu     |overseas inflow     |NULL       |9             |2020-01-26        |2020-01-30    |2020-02-15   |2020-02-15   |released|16     |true   |false  |
|1000000005|female|20s|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000002 |2             |NULL              |2020-01-31    |2020-02-24   |2020-02-24   |released|24     |false  |false  |
|1000000006|female|50s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |43            |NULL              |2020-01-31    |2020-02-19   |2020-02-19   |released|19     |false  |false  |
|1000000007|male  |20s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |0             |NULL              |2020-01-31    |2020-02-10   |2020-02-10   |released|10     |true   |false  |
|1000000008|male  |20s|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-02    |2020-02-24   |2020-02-24   |released|22     |true   |false  |
|1000000009|male  |30s|Korea  |Seoul   |Songpa-gu   |overseas inflow     |NULL       |68            |NULL              |2020-02-05    |2020-02-21   |2020-02-21   |released|16     |true   |false  |
|1000000010|female|60s|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000003 |6             |NULL              |2020-02-05    |2020-02-29   |2020-02-29   |released|24     |false  |false  |
|1000000011|female|50s|China  |Seoul   |Seodaemun-gu|overseas inflow     |NULL       |23            |NULL              |2020-02-06    |2020-02-29   |2020-02-29   |released|23     |false  |false  |
|1000000012|male  |20s|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-07    |2020-02-27   |2020-02-27   |released|20     |true   |false  |
|1000000013|male  |80s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |117           |NULL              |2020-02-16    |NULL         |NULL         |deceased|NULL   |true   |true   |
|1000000014|female|60s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000013 |27            |2020-02-06        |2020-02-16    |2020-03-12   |2020-03-12   |released|25     |false  |false  |
|1000000015|male  |70s|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |NULL       |8             |2020-02-11        |2020-02-19    |NULL         |NULL         |released|NULL   |true   |false  |
|1000000016|male  |70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |NULL          |NULL              |2020-02-19    |2020-03-11   |2020-03-11   |released|21     |true   |false  |
|1000000017|male  |70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |NULL          |NULL              |2020-02-20    |2020-03-01   |2020-03-01   |released|10     |true   |false  |
|1000000018|male  |20s|Korea  |Seoul   |etc         |etc                 |NULL       |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |true   |false  |
|1000000019|female|70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000021 |NULL          |NULL              |2020-02-20    |2020-03-08   |2020-03-08   |released|17     |false  |false  |
|1000000020|female|70s|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |1000000015 |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |false  |false  |
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
only showing top 20 rows

### Change the ages to bins from 10s, 0s, 10s, 20s,.etc to 0,10, 20

In [21]:
df_change_age = df_add_is_dead.withColumn('age',split(col('age'), 's')[0])
df_change_age.show(truncate=False)

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
|patient_id|sex   |age|country|province|city        |infection_case      |infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state   |no_days|is_male|is_dead|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
|1000000001|male  |50 |Korea  |Seoul   |Gangseo-gu  |overseas inflow     |NULL       |75            |2020-01-22        |2020-01-23    |2020-02-05   |2020-02-05   |released|13     |true   |false  |
|1000000002|male  |30 |Korea  |Seoul   |Jungnang-gu |overseas inflow     |NULL       |31            |NULL              |2020-01-30    |2020-03-02   |2020-03-02   |released|32     |true   |false  |
|1000000003|male  |50 |Korea  |Seoul   |Jongno-gu   |contact with patient|2002000001 |17            |NULL              |2020-01-30    |2020-02-19   |2020-02-19   |released|20     |true   |false  |
|1000000004|male  |20 |Korea  |Seoul   |Mapo-gu     |overseas inflow     |NULL       |9             |2020-01-26        |2020-01-30    |2020-02-15   |2020-02-15   |released|16     |true   |false  |
|1000000005|female|20 |Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000002 |2             |NULL              |2020-01-31    |2020-02-24   |2020-02-24   |released|24     |false  |false  |
|1000000006|female|50 |Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |43            |NULL              |2020-01-31    |2020-02-19   |2020-02-19   |released|19     |false  |false  |
|1000000007|male  |20 |Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |0             |NULL              |2020-01-31    |2020-02-10   |2020-02-10   |released|10     |true   |false  |
|1000000008|male  |20 |Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-02    |2020-02-24   |2020-02-24   |released|22     |true   |false  |
|1000000009|male  |30 |Korea  |Seoul   |Songpa-gu   |overseas inflow     |NULL       |68            |NULL              |2020-02-05    |2020-02-21   |2020-02-21   |released|16     |true   |false  |
|1000000010|female|60 |Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000003 |6             |NULL              |2020-02-05    |2020-02-29   |2020-02-29   |released|24     |false  |false  |
|1000000011|female|50 |China  |Seoul   |Seodaemun-gu|overseas inflow     |NULL       |23            |NULL              |2020-02-06    |2020-02-29   |2020-02-29   |released|23     |false  |false  |
|1000000012|male  |20 |Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-07    |2020-02-27   |2020-02-27   |released|20     |true   |false  |
|1000000013|male  |80 |Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |117           |NULL              |2020-02-16    |NULL         |NULL         |deceased|NULL   |true   |true   |
|1000000014|female|60 |Korea  |Seoul   |Jongno-gu   |contact with patient|1000000013 |27            |2020-02-06        |2020-02-16    |2020-03-12   |2020-03-12   |released|25     |false  |false  |
|1000000015|male  |70 |Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |NULL       |8             |2020-02-11        |2020-02-19    |NULL         |NULL         |released|NULL   |true   |false  |
|1000000016|male  |70 |Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |NULL          |NULL              |2020-02-19    |2020-03-11   |2020-03-11   |released|21     |true   |false  |
|1000000017|male  |70 |Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |NULL          |NULL              |2020-02-20    |2020-03-01   |2020-03-01   |released|10     |true   |false  |
|1000000018|male  |20 |Korea  |Seoul   |etc         |etc                 |NULL       |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |true   |false  |
|1000000019|female|70 |Korea  |Seoul   |Jongno-gu   |contact with patient|1000000021 |NULL          |NULL              |2020-02-20    |2020-03-08   |2020-03-08   |released|17     |false  |false  |
|1000000020|female|70 |Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |1000000015 |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |false  |false  |
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
only showing top 20 rows

### Change age, and no_days  to be typecasted as Double

In [22]:
df_change_age_nodays = df_change_age.withColumn('age',col('age').cast(DoubleType())).withColumn('no_days',col('no_days').cast(DoubleType()))
df_change_age_nodays.show(truncate=False)

+----------+------+----+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
|patient_id|sex   |age |country|province|city        |infection_case      |infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state   |no_days|is_male|is_dead|
+----------+------+----+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
|1000000001|male  |50.0|Korea  |Seoul   |Gangseo-gu  |overseas inflow     |NULL       |75            |2020-01-22        |2020-01-23    |2020-02-05   |2020-02-05   |released|13.0   |true   |false  |
|1000000002|male  |30.0|Korea  |Seoul   |Jungnang-gu |overseas inflow     |NULL       |31            |NULL              |2020-01-30    |2020-03-02   |2020-03-02   |released|32.0   |true   |false  |
|1000000003|male  |50.0|Korea  |Seoul   |Jongno-gu   |contact with patient|2002000001 |17            |NULL              |2020-01-30    |2020-02-19   |2020-02-19   |released|20.0   |true   |false  |
|1000000004|male  |20.0|Korea  |Seoul   |Mapo-gu     |overseas inflow     |NULL       |9             |2020-01-26        |2020-01-30    |2020-02-15   |2020-02-15   |released|16.0   |true   |false  |
|1000000005|female|20.0|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000002 |2             |NULL              |2020-01-31    |2020-02-24   |2020-02-24   |released|24.0   |false  |false  |
|1000000006|female|50.0|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |43            |NULL              |2020-01-31    |2020-02-19   |2020-02-19   |released|19.0   |false  |false  |
|1000000007|male  |20.0|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |0             |NULL              |2020-01-31    |2020-02-10   |2020-02-10   |released|10.0   |true   |false  |
|1000000008|male  |20.0|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-02    |2020-02-24   |2020-02-24   |released|22.0   |true   |false  |
|1000000009|male  |30.0|Korea  |Seoul   |Songpa-gu   |overseas inflow     |NULL       |68            |NULL              |2020-02-05    |2020-02-21   |2020-02-21   |released|16.0   |true   |false  |
|1000000010|female|60.0|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000003 |6             |NULL              |2020-02-05    |2020-02-29   |2020-02-29   |released|24.0   |false  |false  |
|1000000011|female|50.0|China  |Seoul   |Seodaemun-gu|overseas inflow     |NULL       |23            |NULL              |2020-02-06    |2020-02-29   |2020-02-29   |released|23.0   |false  |false  |
|1000000012|male  |20.0|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-07    |2020-02-27   |2020-02-27   |released|20.0   |true   |false  |
|1000000013|male  |80.0|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |117           |NULL              |2020-02-16    |NULL         |NULL         |deceased|NULL   |true   |true   |
|1000000014|female|60.0|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000013 |27            |2020-02-06        |2020-02-16    |2020-03-12   |2020-03-12   |released|25.0   |false  |false  |
|1000000015|male  |70.0|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |NULL       |8             |2020-02-11        |2020-02-19    |NULL         |NULL         |released|NULL   |true   |false  |
|1000000016|male  |70.0|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |NULL          |NULL              |2020-02-19    |2020-03-11   |2020-03-11   |released|21.0   |true   |false  |
|1000000017|male  |70.0|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |NULL          |NULL              |2020-02-20    |2020-03-01   |2020-03-01   |released|10.0   |true   |false  |
|1000000018|male  |20.0|Korea  |Seoul   |etc         |etc                 |NULL       |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |true   |false  |
|1000000019|female|70.0|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000021 |NULL          |NULL              |2020-02-20    |2020-03-08   |2020-03-08   |released|17.0   |false  |false  |
|1000000020|female|70.0|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |1000000015 |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|NULL   |false  |false  |
+----------+------+----+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+-------+-------+
only showing top 20 rows

### Drop the columns
["patient_id","sex","infected_by","contact_number","released_date","state",
"symptom_onset_date","confirmed_date","deceased_date","country","no_days",
"city","infection_case"]

In [23]:
df_drop_cols = df_change_age_nodays.drop("patient_id","sex","infected_by","contact_number","released_date","state", "symptom_onset_date","confirmed_date","deceased_date","country","no_days", "city","infection_case")
df_drop_cols.show(truncate=False)

+----+--------+-------+-------+
|age |province|is_male|is_dead|
+----+--------+-------+-------+
|50.0|Seoul   |true   |false  |
|30.0|Seoul   |true   |false  |
|50.0|Seoul   |true   |false  |
|20.0|Seoul   |true   |false  |
|20.0|Seoul   |false  |false  |
|50.0|Seoul   |false  |false  |
|20.0|Seoul   |true   |false  |
|20.0|Seoul   |true   |false  |
|30.0|Seoul   |true   |false  |
|60.0|Seoul   |false  |false  |
|50.0|Seoul   |false  |false  |
|20.0|Seoul   |true   |false  |
|80.0|Seoul   |true   |true   |
|60.0|Seoul   |false  |false  |
|70.0|Seoul   |true   |false  |
|70.0|Seoul   |true   |false  |
|70.0|Seoul   |true   |false  |
|20.0|Seoul   |true   |false  |
|70.0|Seoul   |false  |false  |
|70.0|Seoul   |false  |false  |
+----+--------+-------+-------+
only showing top 20 rows

### Recount the number of nulls now

In [25]:
df_no_nulls = df_drop_cols.groupBy().agg(*[sum(col(column).isNull().cast("int")).alias(column) for column in df_drop_cols.columns])
df_no_nulls.show(truncate=False)

+---+--------+-------+-------+
|age|province|is_male|is_dead|
+---+--------+-------+-------+
|261|0       |0      |0      |
+---+--------+-------+-------+

In [26]:
df_drop_cols.filter(col('age').isNull()).count()

261

In [27]:
d = df_drop_cols.groupBy('is_male').count()
d.show(truncate=False)

+-------+-----+
|is_male|count|
+-------+-----+
|true   |1825 |
|false  |2218 |
+-------+-----+

In [28]:
df_drop_cols.filter(col('age').isNull()).count()

261

## Now do the same but using SQL select statement

### From the original Patient DataFrame, Create a temporary view (table).

In [29]:
df.createOrReplaceTempView('my_temp_view')

### Use SELECT statement to select all columns from the dataframe and show the output.

In [30]:
spark.sql("""
        SELECT * 
        FROM my_temp_view
         """).show(truncate=False)

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|sex   |age|country|province|city        |infection_case      |infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state   |
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|male  |50s|Korea  |Seoul   |Gangseo-gu  |overseas inflow     |NULL       |75            |2020-01-22        |2020-01-23    |2020-02-05   |NULL         |released|
|1000000002|male  |30s|Korea  |Seoul   |Jungnang-gu |overseas inflow     |NULL       |31            |NULL              |2020-01-30    |2020-03-02   |NULL         |released|
|1000000003|male  |50s|Korea  |Seoul   |Jongno-gu   |contact with patient|2002000001 |17            |NULL              |2020-01-30    |2020-02-19   |NULL         |released|
|1000000004|male  |20s|Korea  |Seoul   |Mapo-gu     |overseas inflow     |NULL       |9             |2020-01-26        |2020-01-30    |2020-02-15   |NULL         |released|
|1000000005|female|20s|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000002 |2             |NULL              |2020-01-31    |2020-02-24   |NULL         |released|
|1000000006|female|50s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |43            |NULL              |2020-01-31    |2020-02-19   |NULL         |released|
|1000000007|male  |20s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |0             |NULL              |2020-01-31    |2020-02-10   |NULL         |released|
|1000000008|male  |20s|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-02    |2020-02-24   |NULL         |released|
|1000000009|male  |30s|Korea  |Seoul   |Songpa-gu   |overseas inflow     |NULL       |68            |NULL              |2020-02-05    |2020-02-21   |NULL         |released|
|1000000010|female|60s|Korea  |Seoul   |Seongbuk-gu |contact with patient|1000000003 |6             |NULL              |2020-02-05    |2020-02-29   |NULL         |released|
|1000000011|female|50s|China  |Seoul   |Seodaemun-gu|overseas inflow     |NULL       |23            |NULL              |2020-02-06    |2020-02-29   |NULL         |released|
|1000000012|male  |20s|Korea  |Seoul   |etc         |overseas inflow     |NULL       |0             |NULL              |2020-02-07    |2020-02-27   |NULL         |released|
|1000000013|male  |80s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |117           |NULL              |2020-02-16    |NULL         |NULL         |deceased|
|1000000014|female|60s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000013 |27            |2020-02-06        |2020-02-16    |2020-03-12   |NULL         |released|
|1000000015|male  |70s|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |NULL       |8             |2020-02-11        |2020-02-19    |NULL         |NULL         |released|
|1000000016|male  |70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000017 |NULL          |NULL              |2020-02-19    |2020-03-11   |NULL         |released|
|1000000017|male  |70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000003 |NULL          |NULL              |2020-02-20    |2020-03-01   |NULL         |released|
|1000000018|male  |20s|Korea  |Seoul   |etc         |etc                 |NULL       |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|
|1000000019|female|70s|Korea  |Seoul   |Jongno-gu   |contact with patient|1000000021 |NULL          |NULL              |2020-02-20    |2020-03-08   |NULL         |released|
|1000000020|female|70s|Korea  |Seoul   |Seongdong-gu|Seongdong-gu APT    |1000000015 |NULL          |NULL              |2020-02-20    |NULL         |NULL         |released|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 20 rows

### *Using SQL commands*, limit the output to only 5 rows

In [31]:
spark.sql("""
        SELECT * 
        FROM my_temp_view
        LIMIT 5
         """).show(truncate=False)

+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|sex   |age|country|province|city       |infection_case      |infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state   |
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|male  |50s|Korea  |Seoul   |Gangseo-gu |overseas inflow     |NULL       |75            |2020-01-22        |2020-01-23    |2020-02-05   |NULL         |released|
|1000000002|male  |30s|Korea  |Seoul   |Jungnang-gu|overseas inflow     |NULL       |31            |NULL              |2020-01-30    |2020-03-02   |NULL         |released|
|1000000003|male  |50s|Korea  |Seoul   |Jongno-gu  |contact with patient|2002000001 |17            |NULL              |2020-01-30    |2020-02-19   |NULL         |released|
|1000000004|male  |20s|Korea  |Seoul   |Mapo-gu    |overseas inflow     |NULL       |9             |2020-01-26        |2020-01-30    |2020-02-15   |NULL         |released|
|1000000005|female|20s|Korea  |Seoul   |Seongbuk-gu|contact with patient|1000000002 |2             |NULL              |2020-01-31    |2020-02-24   |NULL         |released|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+

### Select the count of males and females in the dataset

In [32]:
spark.sql("""
        SELECT sex,COUNT(*) as count
        FROM my_temp_view
        GROUP BY sex
         """).show(truncate=False)

+------+-----+
|sex   |count|
+------+-----+
|NULL  |1122 |
|female|2218 |
|male  |1825 |
+------+-----+

### How many people did survive, and how many didn't?

In [33]:
spark.sql("""
        SELECT COUNT(*) as Dead, (select count(*)
                                  from my_temp_view
                                  where state='released') as Survive
        FROM my_temp_view
        where state IN ('deceased','isolated')
         """).show(truncate=False)

# spark.sql("""
#         SELECT COUNT(*) as Dead
#         FROM my_temp_view
#         where deceased_date IS NOT NULL
#          """).show()

+----+-------+
|Dead|Survive|
+----+-------+
|2236|2929   |
+----+-------+

### Now, let's perform some preprocessing using SQL:
1. Convert *age* column to double after removing the 's' at the end -- *hint: check SUBSTRING method*
2. Select only the following columns: `['sex', 'age', 'province', 'state']`
3. Store the result of the query in a new dataframe

In [34]:
spark.sql("""
        SELECT CAST(SUBSTRING(age,0,2) as double) as age
        FROM my_temp_view
         """).show(truncate=False)

+----+
|age |
+----+
|50.0|
|30.0|
|50.0|
|20.0|
|20.0|
|50.0|
|20.0|
|20.0|
|30.0|
|60.0|
|50.0|
|20.0|
|80.0|
|60.0|
|70.0|
|70.0|
|70.0|
|20.0|
|70.0|
|70.0|
+----+
only showing top 20 rows

In [35]:
spark.sql("""
        SELECT sex,CAST(SUBSTRING(age,0,2) as double) as age,province,state
        FROM my_temp_view
         """).show(truncate=False)

+------+----+--------+--------+
|sex   |age |province|state   |
+------+----+--------+--------+
|male  |50.0|Seoul   |released|
|male  |30.0|Seoul   |released|
|male  |50.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|female|20.0|Seoul   |released|
|female|50.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|male  |30.0|Seoul   |released|
|female|60.0|Seoul   |released|
|female|50.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|male  |80.0|Seoul   |deceased|
|female|60.0|Seoul   |released|
|male  |70.0|Seoul   |released|
|male  |70.0|Seoul   |released|
|male  |70.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|female|70.0|Seoul   |released|
|female|70.0|Seoul   |released|
+------+----+--------+--------+
only showing top 20 rows

In [36]:
df = spark.sql("""
        SELECT sex,CAST(SUBSTRING(age,0,2) as double) as age,province,state
        FROM my_temp_view
         """)
df.show(truncate=False)

+------+----+--------+--------+
|sex   |age |province|state   |
+------+----+--------+--------+
|male  |50.0|Seoul   |released|
|male  |30.0|Seoul   |released|
|male  |50.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|female|20.0|Seoul   |released|
|female|50.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|male  |30.0|Seoul   |released|
|female|60.0|Seoul   |released|
|female|50.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|male  |80.0|Seoul   |deceased|
|female|60.0|Seoul   |released|
|male  |70.0|Seoul   |released|
|male  |70.0|Seoul   |released|
|male  |70.0|Seoul   |released|
|male  |20.0|Seoul   |released|
|female|70.0|Seoul   |released|
|female|70.0|Seoul   |released|
+------+----+--------+--------+
only showing top 20 rows